RoutableSetting.configure do |config|

  config.db_collection  = "<%= options.collection_name %>"
  config.setting_prefix = "<%= options.setting_prefix %>"
  config.source_format  = "<%= options.source_format %>"
end